.note{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-height: 300px;
    padding: 20px;
    position: relative;
    /* justify-content: center; */
}

.note__title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.note__text{
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.note:hover{
    background-image: url(../../images/buttons/edit.svg);
    cursor: pointer;
}

.note__list{
    list-style: none;
    margin: 5px 0;
    padding: 0;
    text-align: left;
}

.note__list li:nth-child(n+6) {
    display: none;
}

.note__list_item{
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.note__list_item_text{
    margin-left: 5px;
}

.note__date-created{
    font-size: 0.7em;
    position: absolute;
    bottom: 5px;
    right: 5px;
}