.note{
    border-radius: 5px;
    max-height: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.note:hover{
    background-image: url(../../images/buttons/edit.svg);
    cursor: pointer;
}

.note__color-picker_container{
    display: flex;
}
.note__color-picker{
    margin: 10px auto ;
    display: inline-flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid;
    opacity: 50%;
}
.note__color-picker_default{
    background-color: #FAD247;
}

.note__color-picker_purple{
    background-color: #A646F0;
}

.note__color-picker_red{
    background-color: #D95134;
}

.note__color-picker_green{
    background-color: #44F13A;
}

.note__color-picker_blue{
    background-color: #34A9D9;
}

.note__color-picker:hover{
    cursor: pointer;
    opacity: 100%;
}